@import 'declaration';
// フォント色定義
.fc {
  &-primary {
    color: $primary-color;
  }
  &-info {
    color: $info-color;
  }
  &-success {
    color: $success-color;
  }
  &-warn {
    color: $warn-color;
  }
  &-danger {
    color: $danger-color;
  }
  &-gray-0 {
    color: $gray-0;
  }
  &-gray-1 {
    color: $gray-1;
  }
  &-gray-2 {
    color: $gray-2;
  }
  &-gray-3 {
    color: $gray-3;
  }
  &-gray-4 {
    color: $gray-4;
  }
  &-gray-5 {
    color: $gray-5;
  }
  &-gray-6 {
    color: $gray-6;
  }
  &-gray-7 {
    color: $gray-7;
  }
  &-gray-8 {
    color: $gray-8;
  }
  &-gray-9 {
    color: $gray-9;
  }
}

// 背景色定義
.bc {
  &-primary {
    background-color: $primary-color;
  }
  &-info {
    background-color: $info-color;
  }
  &-success {
    background-color: $success-color;
  }
  &-warn {
    background-color: $warn-color;
  }
  &-danger {
    background-color: $danger-color;
  }
}
